<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="QLKHOEntities" connectionString="5/DjVBDAJN5Dqeyv15R5FYAcOyck7zwXuyKv0Fuemn6tQhA4a7/ISfAeGL85ozdoofFuQJ9ojnooINLPexGNIAYZ0ZQydaNbA89ImPe5zXrfPwDerZG4Y70JLrRrPgpbFBjpu+VfT9I+WZ+ML7Xd72CGonR6XY26SmeFv6BpAAH1Dmg9D8Q1USJ9MhtrhhTeXTv0+0QVuVMADBsh06EXgRZh+iR8DhUUPeGksaShcgl9lhoVWAfl5XO/b0LXIHl0EzSkFLpBTkObFXHyFwml0VeTiKE26S4TzOKKip3373u2DWAWsfCDVKeI9f27RXx9aE+iUQ5F3xRLhKVYG/7WWLjUlMLkTpOE/Q9ciAI/zxuWWOHDOJDp1r7cT9J7yTqHf4g1QNSilmn2QFH5+KmGCHiCnwAG/vZqOQbd8Jy1jYlO9OBK3fhg5w==" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>